* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #bfbfbf;
}

.navbar {
  background-color: #494848;
  padding: 28px;
  text-align: center;
}

/* .nav-list {
  list-style: none;
} */

nav ul{
  list-style: none;
}

.nav-list a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.nav-list li {
  display: inline-block;
  margin: 0 40px;
}

main {
  padding: 40px 0px;
  min-height: 366px;
}

.content {
  margin: 32px;
}

.content h2 {
  font-size: 26px;
  margin-bottom: 26px;
}

.content p {
  font-size: 24px;
}

.author {
  font-style: italic;
  margin-bottom: 20px;
}

.footer {
  background-color: #4e4c4c;
  color: white;
  text-align: center;
  padding: 14px;
}
